h2{
    color:brown;
}

body{
    font-family: "Tahoma";
    text-align: center;
    background-color: whitesmoke;
}

form{
    background-color: white;
    padding: 20px; 
    width:auto;
    margin: auto;
    /*Cuando se pone width en porcentaje y margin auto se centra automáticamente*/
    text-align: left;
}

th{
    background-color: rgb(59, 94, 209);
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
}
td{
    margin: 20px;
}
label{
    display: block;
    width: 200px;
    font-weight: bold; /*Texto en negrilla*/
    color: rgb(40, 37, 224);
    margin-top: 8px;

}

table{
    margin: auto;
    width: 50%;
    box-shadow: 4px 4px 6px rgb(66, 62, 62);
}

nav a{
    display: inline-block;    
    width: 150px;
    background-color: rgb(43, 69, 153);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 15px; 
    border-radius: 10px 0px 10px 0;
    box-shadow: 4px 4px 4px rgb(88, 83, 83); 
   
}

.link_activo{
    text-decoration: underline;
}

.flabel{
    padding: 10px;
    
    width: max-content;
}

.ftxt{
    margin-left: 10px;
    width: 90%;
    height: 20px;
    border-radius: 8px 8px 8px 8px;

}

.fboton{
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;
    border-radius: 4px 4px 4px 4px;
    border: none;
    background-color: rgb(59, 94, 209);
    color: white;
    font-family: "verdana";
    font-size: 12px;
    font-weight: bold;
    box-shadow: 6px 6px 8px rgb(99, 96, 96);
    width: 70%;

}

.fboton:hover{
    background-color: whitesmoke;
    color: rgb(59, 94, 209);
    border: 1px solid;
}